.button {
  box-sizing: border-box;
  padding: 0.313rem 0.625rem;

  font-size: 1rem;
  color: #363b44;
  background: none;
  border: 1px solid transparent;

  cursor: pointer;

  &:hover,
  &--active {
    border: 1px solid #c5c5c5;
  }

  &--disabled {
    opacity: 0.5;
  }
}
