.header {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 30px 10px;
  border-bottom: 1px solid #92989b;
}

.arrow-down {
  position: relative;
  top: -5px;
  content: '';

  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  margin-left: 1rem;

  border-right: 0.5rem solid #92989b;
  border-top: 0.5rem solid #92989b;
  transform: rotate(135deg);
}

.title {
  font-style: italic;
  color: #92989b;
}
