.tite {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  &--m {
    font-size: 18px;
  }

  &--l {
    font-size: 24px;
  }

  &--xxl {
    font-size: 48px;
  }
}

.primary {
  color: #363b44;
}

.secondary {
  color: #92989b;
}

