.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 12px;
}
